{% extends "layout.njk" %}

{% block main %}

    <section class="hero">
      <div class="content">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
      </div>
    <img src="/image/chef.png" alt="">
    </section>
    <main>
      <h2>Mais acessadas</h2>
      <div class="cardapio">
         {% for item in items %}
          <div class="card">
            <img src="{{item.image}}" alt="Imagem de {{item.title}}">
            <h3>{{item.title}}</h3>
            <p>por {{item.author}}</p>
          </div>
        {% endfor %}
      </div>
    </main>

{% endblock %}
