{% extends "layout.njk" %}

{% block header %}

  <a href="/">Home</a>
  <a href="/receitas">Receitas</a>
  <a href="/sobre">Sobre</a>

{% endblock %}

{% block main %}
  <img class="notFound"src="https://static.vecteezy.com/system/resources/previews/000/667/830/non_2x/404-error-page-not-found-with-two-men-plugging-in-cords.jpg" alt="" srcset="">
{% endblock %}