<div>Nome</div>
<div class="chef-name">
  <input 
    type="text" 
    name="name" 
    value="{{chef.name}}"
  >
</div>

<div>Avatar</div>
<div class="chef-avatar">
  <input 
    type="text" 
    name="avatar_url"
    value="{{chef.avatar_url}}"
  >
</div>