<div>Nome</div>
<div class="recipe-title">
  <input 
    type="text" 
    name="name" 
    value="{{chef.name}}"
  >
</div>

<div>Avatar</div>
<div class="recipe-photo">
  <input 
    type="text" 
    name="avatar_url"
    value="{{chef.avatar_url}}"
  >
</div>