<div>Titulo</div>
<div class="recipe-title">
  <input 
    type="text" 
    name="title" 
    value="{{recipe.title}}"
  >
</div>

<div>Chef</div>
<div class="recipe-title">
  <input 
    type="text" 
    name="chef_name" 
    value="{{recipe.chef_name}}"
  >
</div>

<div>Imagem da Receita</div>
<div class="photos-content">
  <div id="photos-upload">
   <div class="photo-plus">
      <i class="fas fa-plus"></i>
    </div>
    <input 
      id="photos-input"
      type="file" 
      name="photos" 
      multiple
      accept="image/jpeg, image/jpg, image/png"
      onchange="PhotosUpload.handleFileInput(event)"
    >
  </div>

  <div id="photos-preview">
    {% if recipe.files %}
      {% for file in recipe.files %}
        <div class="photo" id="{{file.id}}">
          <img src="{{file.src}}" alt="{{file.name}}">
          <i 
            class="fas fa-times"
            onclick="PhotosUpload.removeImgAfterDB(event)"
          ></i>
        </div>          
      {% endfor %}

      <input type="hidden" name="removed_files">
    {% endif %}
  </div>

</div>

<div>Ingredientes</div>
<div id="ingredients">
  {% if recipe.ingredients %}
    {% for item in recipe.ingredients %}
      <div class="ingredient">
        <input 
          type="text" 
          name="ingredients[]"
          value="{{item}}"
          placeholder="Insira apenas um ingrediente por vez"
        >
      </div>
    {% endfor %}
  {% else %}
    <div class="ingredient">
      <input 
          type="text" 
          name="ingredients[]"
          value=""
          placeholder="Insira apenas um ingrediente por vez"
      >
    </div>
  {% endif %}
</div>
<p class="addField" onclick="MoreOne('#ingredients','.ingredient')">Adicionar novo ingrediente</p>

<div>Modo de Preparo</div>
<div id="recipe-way-preparing">
  {% if recipe.preparation %}
    {% for item in recipe.preparation %}
      <div class="task">
        <input 
          type="text" 
          name="preparation[]"
          value="{{item}}"
          placeholder="Insira cada etapa de preparo na sua ordem"
        >
      </div>
    {% endfor %}
  {% else %}
    <div class="task">
      <input 
        type="text" 
        name="preparation"
        value=""
        placeholder="Insira cada etapa de preparo na sua ordem"
      >
    </div>
  {% endif %}

</div>
<p class="addField" onclick="MoreOne('#recipe-way-preparing','.task')">Adicionar novo passo</p>

<div>Informações Adicionais</div>
<div class="recipe-additional-info"></div>
<textarea name="information">{{recipe.information}}</textarea>


