{% extends "layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy - {{item.title}} </title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/">Home</a>
      <a href="/admin/recipes">Receitas</a>
      <a href="/about">Sobre</a>
      <a href="/admin">Conta</a>
    {% endcall %}
  {% endblock %}

  {% block main %}

    {% call card.render( item.title, 'recipe-show', id) %}
      
      <div class="recipe">
        <div class="head">
          <img src="{{item.image}}" alt="Imagem de {{item.title}}">
          <h2>{{item.title}}</h2>
          <p class='author'>por {{item.author}}</p>
        </div>

        <div class="content">
          <div class="ingre">
            <h3>Ingredientes</h3>
              <ul>
                {% for ing in item.ingredients %}
                <li>{{ing}}</li>
                {% endfor %}
              </ul>
          </div>

          <div class="prep">
            <h3>Preparo</h3>
            <ol>
            {% for prep in item.preparation %}
              <li>{{prep}}</li>
              {% endfor %}
            </ol>
          </div>

          {% if item.information %}
            <div class="info">
              <h3>Informações Adicionais</h3>
              <p>{{item.information}}</p>
            </div>
          {% endif %}
              
        </div>  

      </div>  
      
    {% endcall %}

  {% endblock %}