{% extends "layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy</title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/admin/recipes">RECEITAS</a>
      <a href="/admin/chefs">CHEFS</a>  
    {% endcall %}
  {% endblock %}

  {% block main %}
    {% call card.render('Editando receita', 'recipe-content') %}

      <form action="/admin/recipes?_method=DELETE" method="post" name="form1">

        <input type="hidden" name="id" value="{{id}}">

      </form>
  
      <form action="/admin/recipes?_method=PUT" method="post" name="form2">
  
        <input type="hidden" name="id" value="{{id}}">

        {% include "admin/fields.njk" %}

      </form>

    {% endcall %}
  {% endblock %}