{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %}

{% block header %}
  {% call header.render(register) %}
    <a href="../user/recipes">RECEITAS</a>
    <a href="chefs">CHEFS</a>
    <a href="users">USUÁRIOS</a>
  {% endcall %}
{% endblock %}

{% block main %}
  <main>
    <div class="button-list">
      <h2>Gerenciar Usuários</h2>
      <a href="users/create" class="button add">Novo Usuário</a>
    </div>
    <div class="users list">
      {%for user in users %}
        <div class="card">
          <div class="info">
            <h3>{{user.name}}</h3> 
            <p>{{user.email}}</p>
          </div>
          <div class="action">
            <a href="/admin/users/{{user.id}}/edit">Editar</a>                   
            <form action="/admin/users?_method=DELETE" method="post" name="form1">
              <input type="hidden" name="id" value="{{user.id}}">
              <button type="submit">Remover</button>
            </form>    
          </div>
        </div>
      {% endfor %}
     </div>
  </main>

{% endblock %}
