{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy</title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/recipes">RECEITAS</a>
      <a href="/chefs">CHEFS</a>  
    {% endcall %}
  {% endblock %}

  {% block main %}
      {% call card.render('Criando Usuário', 'user-create' ) %}
        <form action="/admin/users" method="post" name="form1">
          {% include "admin/user-fields.njk" %}
        </form>
      {% endcall %}
  {% endblock %}