{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy</title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/user/recipes">RECEITAS</a>
      <a href="/user/chefs">CHEFS</a>  
    {% endcall %}
  {% endblock %}

  {% block main %}
      {% call card.render('Criando receita', 'recipe-create' ) %}
        <form action="/user/recipes" method="post" name="form1" enctype="multipart/form-data">
          {% include "user/fields.njk" %}
        </form>
      {% endcall %}
  {% endblock %}