{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy</title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/user/recipes">RECEITAS</a>
      <a href="/admin/chefs">CHEFS</a>
      <a href="/admin/users">USUÁRIOS</a>
    {% endcall %}
  {% endblock %}

  {% block main %}
    {% call card.render('Editando receita', 'recipe-content') %}

      <form id="delete" action="/user/recipes?_method=DELETE" method="post" name="form1">
        <input type="hidden" name="id" value="{{recipe.id}}">
      </form>
  
      <form action="/user/recipes?_method=PUT" method="post" name="form2" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{recipe.id}}">
        {% include "user/fields.njk" %}
      </form>

    {% endcall %}

    {# <script>
      const formDelete = document.querySelector("#delete")
      formDelete.addEventListener("submit", (event) => {
        const confirmation = confirm("Deseja Deletar?")
        
        if(!confirmation){
          event.preventDefault()
        }
      })
    </script> #}
  {% endblock %}