{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/card.njk" as card %} 

  {% block head %}
    <title>FoodFy - {{recipe.title}} </title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/user/recipes">RECEITAS</a>
      <a href="/user/chefs">CHEFS</a>  
    {% endcall %}
  {% endblock %}

  {% block main %}

    {% call card.render( recipe.title, 'recipe-show', recipe.id) %}
      
      <div class="recipe">

        <div class="gallery">
          <div class="highlight">
            {% if not recipe.img %}
              <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
            {%else%}
              <img 
                src="{{recipe.img}}" 
                alt="{{recipe.files.name}}"
                onclick = "Lightbox.open()"
              >
            {% endif %}

            <div class="lightbox-target">
              <img src="{{recipe.img}}" alt="{{recipe.files.name}}">
              <a 
                href="#" 
                class="lightbox-close"
                onclick = "Lightbox.close()"
              >
                <i class="far fa-times-circle"></i>
              </a>
            </div>

          </div>

          <div class="gallery-preview">
            {% for file in recipe.files %}
              <img 
              src="{{file.src}}"
              alt="{{file.name}}"
              {% if loop.index0 == 0 %}
              class = "active"
              {% endif %}
              onclick="ImageGallery.setImage(event)"
              >
            {% endfor %}
          </div>
        </div>

        <div class="content">
          <h2>{{recipe.title}}</h2>

          <p class='author'>por {{recipe.chef_name}}</p>

          <div class="ingre">
            <h3>Ingredientes</h3>
              <ul>
                {% for ing in recipe.ingredients %}
                <li>{{ing}}</li>
                {% endfor %}
              </ul>
          </div>

          <div class="prep">
            <h3>Preparo</h3>
            <ol>
            {% for prep in recipe.preparation %}
              <li>{{prep}}</li>
              {% endfor %}
            </ol>
          </div>

          {% if recipe.information %}
            <div class="info">
              <h3>Informações Adicionais</h3>
              <p>{{recipe.information}}</p>
            </div>
          {% endif %}
              
        </div>  

      </div>  
      
    {% endcall %}

  {% endblock %}