.recipe-create .card-header h3{
  margin-top: 0;
  font-size: 24px;
}

.recipe-create .card-content > div:nth-of-type(odd),
.recipe-content .card-content form > div:nth-of-type(odd){
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.recipe-create .card-content p{
  font-weight: bold;
  font-size: 16px;
  color: #6558C3;
}

.recipe-create .card-content p:hover{
  cursor: pointer;
  color: rgb(150, 139, 235);
}

.card-content input[type=text]{
  height: 49px;
  margin-top: 8px;
}

.card-content textarea{
  height: 257px;
  margin-top: 8px;

}

.card-content input[type=text],
.card-content textarea{
  
  border: 1px solid var(--color-bord-shadow);
  border-radius: 4px;
  width: 100%;

  padding: 16px 16px;
}

.card-content input[type=text]:focus,
.card-content textarea:focus{
  outline: none;
  border: 2px solid rgb(150, 139, 235);
  border-radius: 4px;

}

.carte.user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.carte.user .card {
  display: grid;
  grid-template-columns: 170px 1fr;

  align-self: center;
}

.carte.user .card .image{
  padding-top: 56.25%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.carte.user .card .info{
  display: flex;
  flex-direction: column;
  margin-left: 8px;

}
.info h3{
  margin-top: 0;
}

.info p{
  margin-top: 5px;
  margin-bottom: 10px;
}

.carte.user .info a{
  color: #6558C3;
}

.carte.user .info a:hover{
  color: rgb(150, 139, 235);
}

.recipe-create .button.delete {
  background-color: #DC4747;
  margin-right: 10px;
}