.card-header h3{
  margin-top: 0;
  font-size: 24px;
}


.card-content form > div:nth-of-type(odd), label, section div.title {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.card-content .addField{
  font-weight: bold;
  font-size: 16px;
  color: #6558C3;
}

.card-content .addField:hover{
  cursor: pointer;
  color: rgb(150, 139, 235);
}

.card-content input[type=text], .card-content input[type=email], .card-content select{
  height: 49px;
  margin-top: 8px;
}

.card-content textarea{
  height: 257px;
  margin-top: 8px;

}

.card-content input[type=checkbox]{
  cursor: pointer;
}
.card-content input[type=checkbox]:checked {
  background-color: rgb(150, 139, 235);
}

.container {
  display: block;
  width: 140px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--color-bord-shadow);
  border-radius: 4px;
}

.container:hover input ~ .checkmark {
  border: 2px solid rgb(150, 139, 235);
  border-radius: 4px;
}

.container input:checked ~ .checkmark {
  background-color: #6558C3;
  border-radius: 4px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-content input[type=text], .card-content input[type=email], .card-content select,
.card-content textarea{
  
  border: 1px solid var(--color-bord-shadow);
  border-radius: 4px;
  width: 100%;

  padding: 16px 16px;
}

.card-content input[type=text]:focus, .card-content input[type=email]:focus, .card-content select:focus,
.card-content textarea:focus{
  outline: none;
  border: 2px solid rgb(150, 139, 235);
  border-radius: 4px;

}

.carte.user{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.carte.user .card{
  display: grid;
  grid-template-columns: 170px 1fr;

  align-self: center;
}

.carte.user .card .image{
  padding-top: 56.25%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.carte.user .card .info{
  display: flex;
  flex-direction: column;
  margin-left: 8px;

}
.info h3{
  margin-top: 0;
}

.info p{
  margin-top: 5px;
  margin-bottom: 10px;
}

.carte.users .info a,
.chefs.list .card .info a{
  color: #6558C3;
  font-weight: bold;
}

.carte.users .info a:hover,
.chefs.list .card .info a:hover{
  color: rgb(150, 139, 235);
  font-weight: bold;

}

.recipe-create .button.delete {
  background-color: #DC4747;
  margin-right: 10px;
}

.chefs.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.chefs.list .card{
  display: grid;
  grid-template-columns: 64px 1fr;
}

.chefs.list .card .image{
  height: 64px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.chefs.list .card .info{
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  justify-content: center;

}

.chefs.list .card .info h3{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.chef .head{
  display: flex;
  flex-direction: column;

  align-items: center;
}

.chef .head .image{
  width: 200px;
  height: 200px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;

  margin-bottom: 30px;
}

.chef .head h2{
  font-size: 36px;

  margin-bottom: 5px;
}

.chef .head p{
  font-size: 20px;

  margin-bottom: 50px;
}

.recipes_chef h2{
  font-size: 24px;

  margin-bottom: 18px;
}

.users.list{
  display: grid;
  grid-template-columns: repeat(3, 200px);
  row-gap: 52px;
  justify-content: space-between;
}

.users .info h3{
  font-size: 18px;
}
.users .info p{
  margin: 4px 0 0 0;
}
.users .action{
  margin-top: 16px;
  display: flex;
}

.users .action a{
  margin-right: 16px;
  font-weight: bold;
  color: #6558C3;

}

.users .action a:hover{
  color: rgb(150, 139, 235);

}

.users .action button{
  margin-right: 16px;
  font-weight: bold;
  color: #DC4747;
  cursor: pointer;

}

.users .action button:hover{
  color: rgb(221, 105, 105);
}

section.user.fields{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
}

