.hero{
  width: 940px;
  height: 366px;
  background: #FBDFDB;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero .content {
  margin: auto 60px;
  max-width: 320px;
}

.hero h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero p {
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.hero img {
  justify-self: center;
  margin-top: 66px;
}