*{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
}

:root{
  --color-first: #111;
  --color-second: #eee;
  --color-third: ;
  --color-fourth: ;
  --color-fifth: white;
  
  --color-bord-shadow:#99999950;
  --color-shadow: #a0a0a050;

  --color-sub-text:#666;
}

html, body{
  min-height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
}

header {
  max-width: 940px;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 100px;
  margin: 27px auto;
  align-items: center;
}

header .search{
  justify-self: center;

}

.header.public{
  background-color: var(--color-second);
}

.header.user{
  background-color: var(--color-first);
}

footer{
  background: var(--color-second);
  color: var(--color-first);
  padding: 26px 0;
  margin-top: auto;
  text-align: center;
}

a {
  cursor: pointer;
}


a.active {
  font-weight: bold;
  border-bottom: 2px solid rgb(114, 95, 255);
}

.wrapper {
  width: 940px;

  margin: 50px auto;
}

header img{
  margin-right: 120px;
}

header a.logo{
  width: 91px;
  padding: 8px 16px;
}

.header.public .menu a{
  margin-right: 20px;
  font-size: 16px;
  color: var(--color-first);
}

.header.public .menu a:hover, .header.user .menu a:hover{
  border-bottom: 2px solid rgb(114, 95, 255);
}

.header.user .menu a{
  margin-right: 30px;
  font-size: 16px;
  color: var(--color-second);
}

main h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.notFound{
  width: 100%;
}


header .button {
  width: 120px;
  padding: 8px 20px;
  background-color: #6558C3 ;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;

  box-shadow: 0px 1px 2px .1;
  
  cursor: pointer;
  transition: all 400ms;

  margin-left: 4px;
}

header .button:hover {
  background-color: rgb(35, 14, 190);
  box-shadow: 0px 1px 2px .1;
}

header input[type=text]{
  width: 300px;
  padding: 8px 0 8px 25px;
  
  border: 1px solid var(--color-bord-shadow);
  border-radius: 4px;
  
  box-sizing: border-box;
}

header input[type=text]:focus{
  outline: none;
  border: 2px solid rgb(114, 95, 255);
  border-radius: 4px;

  box-sizing: border-box;
}

header div{
  position: relative;
}

header i{
  position: relative;
  left: 23px;
  color: rgb(163, 163, 163);
}

.login{
  display: flex;
  justify-self: end;
  width: auto;
  height: auto;
}

.header.public .login a{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-first);
}

.header.user .login a{
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--color-second);
}

.login a span{
  margin-left: 4px;
  font-size: 16px;
}

.login a:hover span{ 
  font-weight: bold;
  border-bottom: 2px solid rgb(114, 95, 255);
}

.header.public .login svg{
  fill: var(--color-first);
  width: 30px;
  height: 30px;
}

.header.user .login svg{
  fill: var(--color-second);
  width: 30px;
  height: 30px;
}

.header.public .login a:hover svg, .header.user .login a:hover svg {
  fill: rgb(114, 95, 255);
}