*{
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  border: none;
}

:root{
  --color-first: #111;
  --color-second: #eee;
  --color-third: ;
  --color-fourth: ;
  --color-fifth: white;
  
  --color-bord-shadow:#99999950;
  --color-shadow: #a0a0a050;

  --color-sub-text:#666;
}

html, body{
  min-height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
}

header {
  max-width: 940px;
  display: grid;
  grid-template-columns: 210px 1fr;
  margin: 27px auto;
  align-items: center;
}

.header.public{
  background-color: var(--color-second);
  margin-bottom: 30px;
}

.header.user{
  background-color: var(--color-first);
  margin-bottom: 30px;
}

footer{
  background: var(--color-second);
  color: var(--color-first);
  padding: 26px 0;
  margin-top: auto;
  text-align: center;
}

a {
  cursor: pointer;
}

.wrapper {
  width: 940px;

  margin: 0 auto;
  margin-bottom: 40px;
}

header img{
  margin-right: 120px;
}

header a.logo{
  width: 91px;
  padding: 8px 16px;
}

.header.public .menu a{
  margin-right: 30px;
  font-size: 16px;
  color: var(--color-first);

}

.header.user .menu a{
  margin-right: 30px;
  font-size: 16px;
  color: var(--color-second);

}

main h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.notFound{
  width: 100%;
}



