{% extends "layout.njk" %}
  
  {% block head %}
    <title>FoodFy - Sobre </title>
  {% endblock %}

  {% import "parts/header.njk" as header %} 

  {% block main %}
    <main class="about">
        <h1>Sobre o Foodfy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quae necessitatibus facilis nobis doloremque dicta autem nemo excepturi reprehenderit minus officiis numquam incidunt pariatur atque exercitationem est iste vero libero repellendus quidem aliquam! Iusto earum ea, distinctio nam dolor modi? Harum dolor veritatis fuga aspernatur quod aperiam saepe illo obcaecati!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus explicabo sunt fugiat velit, blanditiis, quis molestiae, nulla dolore vitae tempora est animi necessitatibus. Dolore placeat praesentium id distinctio laboriosam, inventore qui perferendis provident impedit ullam.</p>
        <h2>Como tudo começou...</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti vero nam illo hic blanditiis. Perspiciatis asperiores id eaque ipsum, nihil quasi dicta debitis ex illum voluptatibus delectus repellendus veritatis, minus culpa nesciunt eveniet distinctio hic fugit itaque aliquam esse vitae accusantium. Quam quod molestias laudantium minima eaque id praesentium odit, quas optio. Nulla ratione voluptate inventore consequuntur quod ab distinctio.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam laboriosam placeat distinctio sint dolores corporis quibusdam quae qui sunt vero neque quisquam odit, error nam. Amet, itaque. Sed fuga, enim incidunt, consectetur aliquam dicta tempore repellendus harum a adipisci corrupti dignissimos, dolores saepe placeat maiores?</p>
        <h2>Nossas receitas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis ratione cum voluptates numquam quod tenetur quis dolore, vel, illum totam voluptatem earum quidem, optio voluptatum! Voluptatibus doloremque beatae fugit eos cumque dicta libero molestias dolorem!</p>
      </main>
  {% endblock %}