{% extends "layout.njk" %}

{% import "parts/header.njk" as header %} 

{% block head %}
  <title>FoodFy - Page Not Found </title>
{% endblock %}

{% block header %}
  {% call header.render(register) %}
    <a href="/">HOME</a>
    <a href="/recipes">RECEITAS</a>
    <a href="/about">SOBRE</a>
  {% endcall %}
{% endblock %}

{% block main %}
  <img class="notFound"src="https://static.vecteezy.com/system/resources/previews/000/667/830/non_2x/404-error-page-not-found-with-two-men-plugging-in-cords.jpg" alt="" srcset="">
{% endblock %}