{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %} 

  {% block head %}
    <title>FoodFy - {{recipe.title}} </title>
  {% endblock %}

  {% block header %}
    {% call header.render(register) %}
      <a href="/recipes">RECEITAS</a>
      <a href="/chefs">CHEFS</a>
      <a href="/about">SOBRE</a>
    {% endcall %}
  {% endblock %}

  {% block main %}

    <div class="recipe">

        <div class="gallery">
          <div class="highlight">
            {% if not recipe.img %}
              <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
            {%else%}
              <img 
                src="{{recipe.img}}" 
                alt="{{recipe.files.name}}"
                onclick = "Lightbox.open()"
              >
            {% endif %}

            <div class="lightbox-target">
              <img src="{{recipe.img}}" alt="{{recipe.files.name}}">
              <a 
                href="#" 
                class="lightbox-close"
                onclick = "Lightbox.close()"
              >
                <i class="far fa-times-circle"></i>
              </a>
            </div>

          </div>

          <div class="gallery-preview">
            {% for file in recipe.files %}
              <img 
              src="{{file.src}}"
              alt="{{file.name}}"
              {% if loop.index0 == 0 %}
              class = "active"
              {% endif %}
              onclick="ImageGallery.setImage(event)"
              >
            {% endfor %}
          </div>
        </div>

      <div class="content">
        <h2>{{recipe.title}}</h2>
        <p class='author'>por {{recipe.chef_name}}</p>
        <div class="ingre">
          <h3>Ingredientes - <a class="ingre">Mostrar</a></h3>
            <ul class="hide">
              {% for ing in recipe.ingredients %}
              <li>{{ing}}</li>
              {% endfor %}
            </ul>
        </div>

        <div class="prep">
          <h3>Preparo - <a class="prep">Mostrar</a></h3>
          <ol class="hide">
          {% for prep in recipe.preparation %}
            <li>{{prep}}</li>
            {% endfor %}
          </ol>
        </div>

        {% if recipe.information %}
          <div class="info">
            <h3>Informações Adicionais - <a class="info">Mostrar</a></h3>
            <p class="hide">{{recipe.information}}</p>
          </div>
        {% endif %}
        
      </div>  

      <script src="/utils/scriptShow.js"></script>
    </div>  

  {% endblock %}