{% extends "layout.njk" %}

  {% block head %}
    <title>FoodFy - {{item.title}} </title>
  {% endblock %}

  {% block main %}
    <div class="receita">
      <img src="{{item.image}}" alt="Imagem de {{item.title}}">
      <h2>{{item.title}}</h2>
      <p class='author'>por {{item.author}}</p>
      <div class="ingre">
      <h3>Ingredientes - <a class="ingre">Exibir</a></h3>
        <ul class="hide">
          {% for ing in item.ingredients %}
          <li>{{ing}}</li>
          {% endfor %}
        </ul>
      </div>
     <div class="prep">
        <h3>Preparo - <a class="prep">Exibir</a></h3>
        <ul class="hide">
        {% for prep in item.preparation %}
          <li>{{prep}}</li>
          {% endfor %}
        </ul>
      </div>

      {% if item.information %}
        <div class="info">
        <h3>Informações Adicionais - <a class="info">Exibir</a></h3>
        <p class="hide">{{item.information}}</p>
        </div>
      {% endif %}
    </div>  

    <script src="/utils/scriptShow.js"></script>
  {% endblock %}