{% extends "layout.njk" %}

{% import "parts/header.njk" as header %} 

  {% block head %}
    <title>FoodFy - {{item.title}} </title>
  {% endblock %}

  {% block header %}
    {% call header.render('public') %}
      <a href="/">Home</a>
      <a href="/recipes">Receitas</a>
      <a href="/about">Sobre</a>
    {% endcall %}
  {% endblock %}

  {% block main %}
    <div class="recipe">
      <img src="{{item.image}}" alt="Imagem de {{item.title}}">
      <h2>{{item.title}}</h2>
      <p class='author'>por {{item.author}}</p>
      <div class="ingre">
      <h3>Ingredientes - <a class="ingre">Mostrar</a></h3>
        <ul class="hide">
          {% for ing in item.ingredients %}
          <li>{{ing}}</li>
          {% endfor %}
        </ul>
      </div>
     <div class="prep">
        <h3>Preparo - <a class="prep">Mostrar</a></h3>
        <ol class="hide">
        {% for prep in item.preparation %}
          <li>{{prep}}</li>
          {% endfor %}
        </ol>
      </div>

      {% if item.information %}
        <div class="info">
        <h3>Informações Adicionais - <a class="info">Mostrar</a></h3>
        <p class="hide">{{item.information}}</p>
        </div>
      {% endif %}
    </div>  

    <script src="/utils/scriptShow.js"></script>
  {% endblock %}