{% extends "layout.njk" %}

{% import "parts/header.njk" as header %} 
{% import "parts/carte.njk" as carte %} 

  {% block head %}
    <title>FoodFy - Receitas </title>
  {% endblock %}

  {% block header %}
    {% call header.render('public') %}
      <a href="/">Home</a>
      <a href="/about">Sobre</a>
    {% endcall %}
  {% endblock %}

  {% block main %}

    <main>
      {% call carte.render(items, register ) %}
      {% endcall %}
    </main>

  {% endblock %}


