{% extends "parts/layout.njk" %}

{% import "parts/header.njk" as header %}
{% import "parts/carte.njk" as carte %}

{% block header %}
  {% call header.render(register) %}
    <a href="/recipes">RECEITAS</a>
    <a href="/chefs">CHEFS</a>
    <a href="/about">SOBRE</a>
  {% endcall %}
{% endblock %}

{% block main %}
  <main>
    {% call carte.render(recipes, register) %}
      <h2>Buscando por "{{term}}"</h2>
    {% endcall %}
  </main>

{% endblock %}
