{% macro render(title, classes, id ) %}
  <section class="card {{ classes }}">

    <div class="card-header">
      {% if 'Edi' in title %}
        <h3> {{ title }}</h3>
        <div class="button-container">
          <input class="button delete" value="Deletar" onclick="document.form1.submit()">
          <input class="button" value="Salvar" onmouseover="Validate.allFields()" onclick="document.form2.submit()">
       </div>
      {% elif 'Cri' in title %}
        <h3> {{ title }}</h3>
        <div class="button-container">
          <input class="button" value="Salvar"  onmouseover="Validate.allFields()" onclick="document.form1.submit()">
        </div>
      {% elif 'recipe-show' == classes %}
        <h3>Receita: {{ title }}</h3>
        <div class="button-container">
          <a href="{{id}}/edit" class="button">Editar Receita</a> 
        </div>
      {% elif 'chef-show' == classes %}
        <h3>Chef: {{ title }}</h3>
        <div class="button-container">
          <a href="/admin/chefs/{{id}}/edit" class="button">Editar Chef</a>
        </div>
      {% else %}
      {% endif %}

    </div>

    <div class="card-content">
        {{ caller() }}
    </div>
  
  </section>
{% endmacro %}