{% macro render(recipes, classes) %}
  
  {{caller()}}

  <div class="carte {{classes}}">
    {% for recipe in recipes %}
      {% if classes == 'public' %}
        <a href="/recipes/{{recipe.id}}">
      {% endif %}
        <div class="card">
          <div 
            class="image"
            style="background-image: url({{recipe.img}})"
          ></div>

          <div class="info">
            <h3>{{recipe.title}}</h3>
            <p>por {{recipe.chef_name}}</p>
              {% if classes == 'user' %}
                <a href="/user/recipes/{{recipe.id}}">Visualizar</a>                   
              {% endif %}
          </div>
        </div>
      {% if classes == 'public' %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}