{% macro render(items, classes) %}
  
  {{caller()}}

  <div class="carte {{classes}}">
    {% for item in items %}
      {% if classes == 'public' %}
        <a href="/recipes/{{loop.index0}}">
      {% endif %}
        <div class="card">
          <div 
            class="image"
            style="background-image: url({{item.image}})"
          ></div>

          <div class="info">
            <h3>{{item.title}}</h3>
            <p>por {{item.author or item.chef_name}}</p>
              {% if classes == 'user' %}
                <a href="/admin/recipes/{{item.id or loop.index0}}">Visualizar</a>                   
              {% endif %}
          </div>
        </div>
      {% if classes == 'public' %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}