{% macro render(classes) %}
  <div class="header {{classes}}">
    <header>
      <a href="/" class='logo'>
        <img 
          {% if classes == 'public' %}
            src="/images/logoBlack.png"
          {% else %}
            src="/images/logoWhite.png"
          {% endif %}
            alt=""
        >
      </a>

      <nav class="menu">
        {{caller()}}
      </nav>
  
    </header>
  </div>

{% endmacro %}






